workflows/_shared/n8n/tool-hitl-reply-router.json
{
  "name": "Tool: HITL Reply Router",
  "id": "shared-hitl-reply-router",
  "meta": { "instanceId": "automaton-shared" },
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "chat_id", "type": "string" },
            { "name": "text", "type": "string" }
          ]
        }
      },
      "id": "1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const i = items[0].json;\nconst esc = (s) => String(s == null ? '' : s).replace(/'/g, \"''\");\nconst sql = `SELECT id, resume_url FROM shared.hitl_approvals WHERE chat_id = '${esc(i.chat_id)}' AND status = 'pending' ORDER BY created_at DESC LIMIT 1;`;\nreturn [{ json: { sql } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "2",
      "name": "Prepare Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "3",
      "name": "Find Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [650, 300],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CRED_ID",
          "name": "Postgres Automaton"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trig = $('Execute Workflow Trigger').first().json;\nconst text = String(trig.text || '').trim();\nconst rows = $('Find Pending').all();\nconst row = rows.length ? rows[0].json : {};\nconst matched = !!(row && row.id);\n\nconst lower = text.toLowerCase();\nlet decision = 'revise';\nlet feedback = '';\nif (/^(oui|ok|yes|valide|valider|publie|publier|go|y)$/.test(lower)) decision = 'approved';\nelse if (/^(non|no|annule|annuler|stop|cancel|n)$/.test(lower)) decision = 'rejected';\nelse { decision = 'revise'; feedback = text; }\n\nconst resumeUrl = row.resume_url || '';\nconst resumeBody = JSON.stringify({ decision, feedback });\n\nconst esc = (s) => String(s == null ? '' : s).replace(/'/g, \"''\");\nconst updateSql = matched ? `UPDATE shared.hitl_approvals SET status='${esc(decision)}', decision='${esc(decision)}', feedback='${esc(feedback)}', resolved_at=now() WHERE id=${Number(row.id)};` : 'SELECT 1;';\n\nreturn [{ json: { matched, decision, feedback, resumeUrl, resumeBody, updateSql } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "4",
      "name": "Interpret",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "rightType": "boolean"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "5",
      "name": "Matched?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.resumeUrl }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.resumeBody }}",
        "options": {}
      },
      "id": "6",
      "name": "Resume Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Interpret').first().json.updateSql }}",
        "options": {}
      },
      "id": "7",
      "name": "Mark Resolved",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1450, 200],
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CRED_ID",
          "name": "Postgres Automaton"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { matched: true, decision: $('Interpret').first().json.decision } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "8",
      "name": "Return Matched",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { matched: false } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "9",
      "name": "Return Not Matched",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Prepare Lookup", "type": "main", "index": 0 }]]
    },
    "Prepare Lookup": {
      "main": [[{ "node": "Find Pending", "type": "main", "index": 0 }]]
    },
    "Find Pending": {
      "main": [[{ "node": "Interpret", "type": "main", "index": 0 }]]
    },
    "Interpret": {
      "main": [[{ "node": "Matched?", "type": "main", "index": 0 }]]
    },
    "Matched?": {
      "main": [
        [{ "node": "Resume Execution", "type": "main", "index": 0 }],
        [{ "node": "Return Not Matched", "type": "main", "index": 0 }]
      ]
    },
    "Resume Execution": {
      "main": [[{ "node": "Mark Resolved", "type": "main", "index": 0 }]]
    },
    "Mark Resolved": {
      "main": [[{ "node": "Return Matched", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": []
}
