workflows/_shared/n8n/tool-generate-speech.json
{
  "name": "Tool: Generate Speech (ElevenLabs)",
  "id": "shared-generate-speech",
  "meta": { "instanceId": "automaton-shared" },
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "project_id", "type": "string" },
            { "name": "text", "type": "string" },
            { "name": "voice_id", "type": "string" },
            { "name": "model_id", "type": "string" },
            { "name": "output_name", "type": "string" }
          ]
        }
      },
      "id": "1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const i = items[0].json;\nif (!i.project_id || !i.text) { throw new Error('project_id and text are required'); }\nconst body = {\n  project_id: i.project_id,\n  text: i.text,\n  output_name: i.output_name || 'voiceover'\n};\nif (i.voice_id) body.voice_id = String(i.voice_id);\nif (i.model_id) body.model_id = String(i.model_id);\nconst bodyJson = JSON.stringify(body);\nreturn [{ json: { bodyJson, project_id: i.project_id, output_name: body.output_name } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "2",
      "name": "Build Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/ai/generate-speech",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyJson }}",
        "options": { "timeout": 120000 }
      },
      "id": "3",
      "name": "Call Generate Speech API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const r = items[0].json || {};\nreturn [{ json: {\n  status: r.status || 'error',\n  path: r.path || null,\n  voice_id: r.voice_id || null,\n  model_id: r.model_id || null,\n  project_id: $('Build Body').first().json.project_id\n} }];",
        "mode": "runOnceForAllItems"
      },
      "id": "4",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Build Body", "type": "main", "index": 0 }]]
    },
    "Build Body": {
      "main": [[{ "node": "Call Generate Speech API", "type": "main", "index": 0 }]]
    },
    "Call Generate Speech API": {
      "main": [[{ "node": "Format Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": []
}
