workflows/music-ai/n8n/music-ai-starter-simple.json
{
  "name": "Music AI Starter",
  "id": "new",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "music-ai-starter",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "music-ai-starter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.automaton.neurenova.tech/workflow/music-ai",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "body": "={{ JSON.stringify({ title: $json.body.title, genre: $json.body.genre, mood: $json.body.mood, provider: $json.body.provider }) }}",
        "options": {}
      },
      "id": "2",
      "name": "Call API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
