workflows/music-ai/n8n/music-ai-agent-brique2.json
{
  "name": "Music AI Agent — Brique 2 Concept Generation",
  "id": "new",
  "meta": { "instanceId": "automaton-music-ai-agent" },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "green-api-music-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Green API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "green-api-music-agent"
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body || items[0].json;\nconst textMessage = body.messageData?.textMessageData?.textMessage || body.messageData?.extendedTextMessageData?.textMessage || '';\nconst chatId = body.senderData?.chatId || body.chatId || '';\nconst senderName = body.senderData?.senderName || body.senderData?.senderContactName || 'User';\n\nconst genreMatch = textMessage.match(/genre[\\s:]+(\\w+)/i);\nconst moodMatch = textMessage.match(/mood[\\s:]+(\\w+)/i);\nconst titleMatch = textMessage.match(/title[\\s:]+(.+?)(?=,|$)/i) || textMessage.match(/titre[\\s:]+(.+?)(?=,|$)/i);\nconst genre = genreMatch ? genreMatch[1].trim() : '';\nconst mood = moodMatch ? moodMatch[1].trim() : '';\nconst title = titleMatch ? titleMatch[1].trim() : '';\nconst hasAllInfo = !!(genre && mood && title);\n\nreturn [{ json: { textMessage, chatId, senderName, genre, mood, title, hasAllInfo } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "2",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "text": "={{ $json.textMessage }}\n",
        "options": {
          "systemMessage": "Tu es un assistant de creation musicale IA. Tu aides l'utilisateur a creer des morceaux de musique originaux. Sois creatif, encourageant et precis.\n\nQuand l'utilisateur veut creer une musique :\n1. Demande-lui le genre musical, le mood et le titre souhaite.\n2. Une fois qu'il te donne ces infos, dis-lui que tu vas generer un concept detaille et l'envoyer pour validation.\n3. A chaque etape, attends sa confirmation avant de continuer.\n\nReponds toujours en francais sauf si l'utilisateur demande autrement. Sois concis et amical."
        },
        "promptType": "define",
        "hasOutputParser": false
      },
      "id": "3",
      "name": "Music AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [650, 300]
    },
    {
      "parameters": {
        "options": {
          "baseURL": "https://api.mistral.ai/v1"
        },
        "model": "mistral-medium-latest"
      },
      "id": "4",
      "name": "Mistral LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.chatId }}",
        "sessionIdType": "customKey"
      },
      "id": "5",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [850, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.hasAllInfo }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "6",
      "name": "Has All Info?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.automaton.neurenova.tech/ai/generate-concept",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $('Parse Message').first().json.title, genre: $('Parse Message').first().json.genre, mood: $('Parse Message').first().json.mood, provider: 'mistral' }) }}",
        "options": {}
      },
      "id": "7",
      "name": "Call Generate Concept API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "const res = items[0].json;\nconst concept = res.concept || {};\nconst output = `Concept genere avec succes !\n\nTitre: ${res.metadata?.title || 'Untitled'}\nGenre: ${res.metadata?.genre || 'electronic'}\nMood: ${res.metadata?.mood || 'epic'}\n\nHook: ${concept.hook || 'N/A'}\n\nSuno Prompt: ${concept.suno_prompt || 'N/A'}\n\nLeonardo Prompt: ${concept.leonardo_prompt || 'N/A'}\n\nYouTube: ${concept.youtube_title || 'N/A'}\nTikTok: ${concept.tiktok_caption || 'N/A'}\nInstagram: ${concept.instagram_caption || 'N/A'}\n\nProject ID: ${res.projectId || 'N/A'}\n\nDis-moi si tu valides (OK) ou si tu veux des modifications.`;\nreturn [{ json: { output } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "8",
      "name": "Format Concept Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "jsCode": "const output = $('Music AI Agent').first().json.output || \"Desole, je n'ai pas compris.\";\nreturn [{ json: { output } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "9",
      "name": "Format Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "mode": "mergeByPosition"
      },
      "id": "10",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "jsCode": "const output = items[0].json.output || \"Desole, je n'ai pas compris.\";\nconst chatId = $('Parse Message').first().json.chatId;\nconst bodyJson = JSON.stringify({ chatId, message: output });\nreturn [{ json: { bodyJson, chatId } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "11",
      "name": "Prepare WhatsApp Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GREEN_API_BASE_URL }}/waInstance{{ $env.GREEN_API_INSTANCE_ID }}/sendMessage/{{ $env.GREEN_API_TOKEN }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyJson }}",
        "options": {}
      },
      "id": "12",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok' }) }}",
        "options": {}
      },
      "id": "13",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 300]
    }
  ],
  "connections": {
    "Green API Webhook": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Music AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Music AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Music AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Music AI Agent": {
      "main": [
        [
          {
            "node": "Has All Info?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has All Info?": {
      "main": [
        [
          {
            "node": "Call Generate Concept API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Generate Concept API": {
      "main": [
        [
          {
            "node": "Format Concept Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Concept Response": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Agent Response": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare WhatsApp Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WhatsApp Body": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
