workflows/music-ai/n8n/music-ai-starter.json
{
  "name": "Music AI Starter",
  "id": "new",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "music-ai-starter",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "music-ai-starter"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst projectId = 'track_' + Date.now();\nconst provider = body.provider || 'openai';\nconst metadata = {\n  project_id: projectId,\n  provider: provider,\n  title: body.title || 'Untitled Track',\n  genre: body.genre || 'electronic',\n  mood: body.mood || 'epic',\n  concept: {},\n  assets: {},\n  timestamps: [],\n  uploads: {\n    youtube: false,\n    tiktok: false,\n    instagram: false\n  },\n  analytics: {},\n  created_at: new Date().toISOString()\n};\nconst prompt = `You are a music marketing expert. Create a detailed concept for a ${metadata.genre} track titled \"${metadata.title}\" with a ${metadata.mood} mood.\\n\\nReturn ONLY a JSON object with these keys:\\nsuno_prompt: a detailed prompt for Suno AI to generate the track\\nleonardo_prompt: a prompt for Leonardo AI to generate cover art\\nyoutube_title: title for YouTube\\nyoutube_description: description for YouTube (include hashtags)\\ntiktok_caption: caption for TikTok (include hashtags)\\ninstagram_caption: caption for Instagram (include hashtags)\\nhook: the main viral hook of the song (1 sentence)\\n`;\nreturn {\n  json: { projectId, provider, prompt, metadata }\n};"
      },
      "id": "2",
      "name": "Create Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "mode": "runOnceForAllItems"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst model = input.provider === 'openai' ? 'gpt-4o-mini' : input.provider === 'anthropic' ? 'claude-3-5-sonnet-20241022' : input.provider === 'mistral' ? 'mistral-medium-latest' : 'deepseek-chat';\nconst data = await $httpRequest({\n  method: 'POST',\n  url: 'https://api.automaton.neurenova.tech/ai/generate',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    provider: input.provider,\n    prompt: input.prompt,\n    model: model,\n    temperature: 0.8,\n    max_tokens: 1024\n  })\n});\nreturn { json: data };"
      },
      "id": "3",
      "name": "AI Generate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "mode": "runOnceForAllItems"
    },
    {
      "parameters": {
        "jsCode": "const aiText = $input.first().json.text;\nconst { projectId, provider, metadata } = $('Create Metadata').item.json;\nlet concept = {};\ntry {\n  const parsed = JSON.parse(aiText);\n  concept = parsed;\n} catch (e) {\n  // Fallback: store raw text if JSON parsing fails\n  concept = { raw: aiText };\n}\nmetadata.concept = concept;\nmetadata.concept.provider = provider;\nreturn {\n  json: { projectId, metadata }\n};"
      },
      "id": "4",
      "name": "Merge Concept",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "mode": "runOnceForAllItems"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst projectId = input.projectId;\nconst metadata = input.metadata;\nconst data = await $httpRequest({\n  method: 'POST',\n  url: 'https://api.automaton.neurenova.tech/projects/' + projectId,\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify(metadata)\n});\nreturn { json: { ...data, projectId } };"
      },
      "id": "5",
      "name": "Store Project",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "mode": "runOnceForAllItems"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst projectId = input.projectId;\nconst data = await $httpRequest({\n  method: 'POST',\n  url: 'https://api.automaton.neurenova.tech/jobs/ffmpeg',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    project_id: projectId,\n    task: 'render_long',\n    schema: 'music_ai',\n    cover_path: 'assets/cover.png',\n    audio_path: 'assets/audio.mp3',\n    output_path: 'outputs/video_long.mp4'\n  })\n});\nreturn { json: { ...data, projectId } };"
      },
      "id": "6",
      "name": "Queue FFmpeg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "mode": "runOnceForAllItems"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"projectId\": \"{{ $('Create Metadata').item.json.projectId }}\", \"status\": \"queued\"}",
        "options": {}
      },
      "id": "7",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Metadata": {
      "main": [
        [
          {
            "node": "AI Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate": {
      "main": [
        [
          {
            "node": "Merge Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Concept": {
      "main": [
        [
          {
            "node": "Store Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Project": {
      "main": [
        [
          {
            "node": "Queue FFmpeg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue FFmpeg": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
