workflows/music-ai/n8n/music-ai-agent-brique1.json
{
  "name": "Music AI Agent — Brique 2 Concept Generation",
  "id": "new",
  "meta": { "instanceId": "automaton-music-ai-agent" },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "green-api-music-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Green API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "green-api-music-agent"
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body || items[0].json;\nconst textMessage = body.messageData?.textMessageData?.textMessage || body.messageData?.extendedTextMessageData?.textMessage || '';\nconst chatId = body.senderData?.chatId || body.chatId || '';\nconst senderName = body.senderData?.senderName || body.senderData?.senderContactName || 'User';\nreturn [{ json: { textMessage, chatId, senderName } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "2",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "text": "={{ $json.textMessage }}\n",
        "options": {
          "systemMessage": "Tu es un assistant de creation musicale IA. Tu aides l'utilisateur a creer des morceaux de musique originaux. Sois creatif, encourageant et precis.\n\nQuand l'utilisateur veut creer une musique :\n1. Demande-lui le genre musical, le mood et le titre souhaite.\n2. Une fois qu'il te donne ces infos, utilise l'outil 'generate_concept' pour generer le concept.\n3. Monte le concept a l'utilisateur et attends sa confirmation (OK, valide, oui) avant de continuer.\n4. Si l'utilisateur dit 'modifie' ou 'recommence', genere un nouveau concept.\n\nPour utiliser l'outil generate_concept, passe les infos sous ce format exact : title:NOM, genre:GENRE, mood:MOOD\n\nReponds toujours en francais sauf si l'utilisateur demande autrement. Sois concis et amical."
        },
        "promptType": "define",
        "hasOutputParser": false
      },
      "id": "3",
      "name": "Music AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [850, 300]
    },
    {
      "parameters": {
        "options": {
          "baseURL": "https://api.mistral.ai/v1"
        },
        "model": "mistral-medium-latest"
      },
      "id": "4",
      "name": "Mistral LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [850, 500]
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.chatId }}",
        "sessionIdType": "customKey"
      },
      "id": "5",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "jsCode": "const output = $('Music AI Agent').first().json.output || \"Desole, je n'ai pas compris.\";\nconst chatId = $('Parse Message').first().json.chatId;\nconst bodyJson = JSON.stringify({ chatId, message: output });\nreturn [{ json: { bodyJson, chatId } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "6",
      "name": "Prepare WhatsApp Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GREEN_API_BASE_URL }}/waInstance{{ $env.GREEN_API_INSTANCE_ID }}/sendMessage/{{ $env.GREEN_API_TOKEN }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyJson }}",
        "options": {}
      },
      "id": "7",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok' }) }}",
        "options": {}
      },
      "id": "8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "name": "generate_concept",
        "description": "Generate a detailed music concept with title, genre, mood. Input format: 'title:X, genre:Y, mood:Z'. Returns concept with suno_prompt, leonardo_prompt, youtube_title, tiktok_caption, instagram_caption, hook.",
        "workflowId": "PLACEHOLDER_SELECT_AFTER_IMPORT"
      },
      "id": "9",
      "name": "Generate Concept Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [850, 700]
    }
  ],
  "connections": {
    "Green API Webhook": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Music AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Music AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Music AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Music AI Agent": {
      "main": [
        [
          {
            "node": "Prepare WhatsApp Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WhatsApp Body": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Concept Tool": {
      "ai_tool": [
        [
          {
            "node": "Music AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
