workflows/chatbot/n8n/personal-chatbot.json
{
  "name": "Personal WhatsApp Chatbot",
  "id": "chatbot-personal",
  "meta": {
    "instanceId": "automaton-chatbot"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "green-api-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "green-api-chatbot"
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body || items[0].json;\nconst text = body.messageData?.textMessageData?.textMessage || '';\nconst sender = body.senderData?.sender || body.senderData?.chatId || body.chatId || '';\nconst chatId = body.senderData?.chatId || body.chatId || '';\nconst senderPhone = sender.replace(/@c\\.us$/, '').replace(/@g\\.us$/, '');\nconst phone = chatId.replace(/@c\\.us$/, '').replace(/@g\\.us$/, '');\nconst authorizedNumbers = ($env.CHATBOT_AUTHORIZED_NUMBERS || '237676377369,237657185475').split(',').map(n => n.trim());\nconst authorized = authorizedNumbers.includes(senderPhone);\nconst lower = text.toLowerCase().trim();\nconst isToggle = lower === 'bot on' || lower === 'bot off' || lower === '/bot on' || lower === '/bot off';\nconst activate = lower === 'bot on' || lower === '/bot on';\nconst chatbotPhone = authorizedNumbers[0];\nconst isOwnMessage = senderPhone === chatbotPhone;\nconst shouldProcess = !isOwnMessage || (isOwnMessage && isToggle);\nreturn [{ json: { text, chatId, phone, senderPhone, authorized, isToggle, activate, isOwnMessage, shouldProcess } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "2",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Parse').first().json.shouldProcess }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "rightType": "boolean"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "15",
      "name": "Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Parse').first().json.isToggle }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "rightType": "boolean"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $('Parse').first().json.authorized }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "rightType": "boolean"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "4",
      "name": "Toggle?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst activate = $('Parse').first().json.activate;\nstaticData.chatbotActive = activate;\nconst msg = activate ? 'Chatbot active. Je reponds a ta place.' : 'Chatbot desactive. Tu reponds toi-meme.';\nreturn [{ json: { message: msg } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "5",
      "name": "Toggle State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst active = staticData.chatbotActive === true ? true : false;\nconst parseData = $('Parse').first().json;\nreturn [{ json: { active, chatId: parseData.chatId, phone: parseData.phone } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "6",
      "name": "Check Active",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Check Active').first().json.active }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "rightType": "boolean"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "7",
      "name": "Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1050,
        400
      ]
    },
    {
      "parameters": {
        "text": "={{ $('Parse').first().json.text }}",
        "options": {
          "systemMessage": "Tu es l'assistant personnel de ton createur. Quand il est occupe ou absent, tu reponds a ses messages WhatsApp a sa place. Sois poli, concis et utile. Dis que ton createur est indisponible mais que tu peux transmettre un message. Reponds en francais sauf demande contraire."
        },
        "promptType": "define",
        "hasOutputParser": false
      },
      "id": "8",
      "name": "Chatbot Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1250,
        350
      ]
    },
    {
      "parameters": {
        "model": "anthropic.claude-3-5-sonnet-20241022-v2:0",
        "region": "us-east-1",
        "options": {}
      },
      "id": "9",
      "name": "Bedrock",
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1,
      "position": [
        1250,
        550
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $('Chatbot Agent').first().json.output || 'Desole, je suis indisponible.';\nconst chatId = $('Parse').first().json.chatId;\nconst bodyJson = JSON.stringify({ chatId, message: output });\nreturn [{ json: { bodyJson, chatId } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "11",
      "name": "Prepare Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GREEN_API_2_BASE_URL }}/waInstance{{ $env.GREEN_API_2_INSTANCE_ID }}/sendMessage/{{ $env.GREEN_API_2_TOKEN }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyJson }}",
        "options": {}
      },
      "id": "12",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1650,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Parse').first().json.chatId;\nconst message = $('Toggle State').first().json.message;\nconst bodyJson = JSON.stringify({ chatId, message });\nreturn [{ json: { bodyJson, chatId } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "13",
      "name": "Prepare Toggle Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok' }) }}",
        "options": {}
      },
      "id": "14",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2050,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toggle?": {
      "main": [
        [
          {
            "node": "Toggle State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toggle State": {
      "main": [
        [
          {
            "node": "Prepare Toggle Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Toggle Body": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Active": {
      "main": [
        [
          {
            "node": "Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Active?": {
      "main": [
        [
          {
            "node": "Chatbot Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Chatbot Agent": {
      "main": [
        [
          {
            "node": "Prepare Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Body": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bedrock": {
      "ai_languageModel": [
        [
          {
            "node": "Chatbot Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process?": {
      "main": [
        [
          {
            "node": "Toggle?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}